:root {
  --white: #F7F7F7;
  --navy: #140F34;
}

@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromUnder {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromUnder {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes downArrow {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(70%);
    opacity: 0;
  }
}
@keyframes downArrow {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(70%);
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.p-menubar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1250px) {
  .p-menubar {
    border-right: 1px solid black;
  }
}
.p-menubar .menubar-title {
  padding: 24px 24px;
}
.p-menubar .menubar-title h1 {
  font-size: 3.2rem;
  font-weight: 600;
  display: flex;
  align-items: baseline;
}
@media (min-width: 750px) {
  .p-menubar .menubar-title h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1250px) {
  .p-menubar .menubar-title h1 {
    font-size: 5.6rem;
    font-weight: 700;
    flex-direction: column;
  }
}
.p-menubar .menubar-title h1 a {
  padding-right: 16px;
  transition: 0.2s;
}
.p-menubar .menubar-title h1 span {
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 4px;
}
@media (min-width: 750px) {
  .p-menubar .menubar-title h1 span {
    font-size: 1.8rem;
  }
}
@media (min-width: 1250px) {
  .p-menubar .menubar-title h1 span {
    font-size: 2.4rem;
  }
}
.p-menubar .menubar-title h1 a:hover {
  color: #EC3434;
}
.p-menubar .p-nav .nav-menu {
  border-bottom: 1px solid black;
}
.p-menubar .p-nav .nav-menu li {
  height: 52px;
  font-size: 2.8rem;
  font-weight: 400;
  border-top: 1px solid black;
  transition: background-color 0.2S, color 0.2s;
}
@media (min-width: 1250px) {
  .p-menubar .p-nav .nav-menu li {
    font-size: 4.8rem;
    height: 80px;
  }
}
.p-menubar .p-nav .nav-menu li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  line-height: 52px;
}
@media (min-width: 1250px) {
  .p-menubar .p-nav .nav-menu li a {
    line-height: 80px;
  }
}
.p-menubar .p-nav .nav-menu__contact {
  background-color: #C8EF9B;
}
.p-menubar .p-nav .nav-menu__about:hover, .p-menubar .p-nav .nav-menu__work:hover {
  background-color: #140F34;
  color: #F7F7F7;
}
.p-menubar .p-nav .nav-menu__contact:hover {
  background-color: #140F34;
  color: #C8EF9B;
}
/*# sourceMappingURL=p-menubar.css.map */