@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  -moz-appearance: textfield;
       appearance: textfield;
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
  -moz-appearance: button;
       appearance: button;
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
  appearance: none;
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

:root {
  --white: #F7F7F7;
  --navy: #140F34;
}

@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromUnder {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromUnder {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes downArrow {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(70%);
    opacity: 0;
  }
}
@keyframes downArrow {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(70%);
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-size: 62.5%;
}

body {
  background: white;
  min-width: 320px;
  width: 100%;
  height: auto;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
}

img {
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4, h5, h6 {
  font-size: 2rem;
}

p, figure {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
}

.l-footer {
  width: 100%;
  height: 200px;
}
@media (min-width: 750px) {
  .l-footer {
    height: 250px;
  }
}
@media (min-width: 1250px) {
  .l-footer {
    height: 300px;
  }
}

.l-main {
  width: 100%;
  background-color: #EFF4EF;
}
@media (min-width: 1250px) {
  .l-main {
    width: 79.2%;
  }
}

.l-menubar {
  width: 100%;
  height: 285px;
  background-color: #F7F7F7;
  z-index: 91;
  position: fixed;
  top: -285px;
  left: 0;
  transition: top 0.2S ease;
}
@media (min-width: 1250px) {
  .l-menubar {
    width: 20.8%;
    height: 100vh;
    min-width: 250px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.l-wrapper {
  width: 100%;
  position: relative;
}
@media (min-width: 1250px) {
  .l-wrapper {
    display: flex;
  }
}

.l-header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  display: block;
}
@media (min-width: 1250px) {
  .l-header {
    display: none;
  }
}

.c-heading--playfair-display {
  font-family: "Playfair Display", serif;
}

.c-heading--noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
}

.c-heading--noto-serif-jp {
  font-family: "Noto Serif JP", serif;
}

.c-heading--inter {
  font-family: "Inter", sans-serif;
}

.c-link-btn {
  padding: 16px 50px;
  background-color: #140F34;
  color: #F7F7F7;
  border: 1px solid #140F34;
  transition: all 0.2s;
}
.c-link-btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.c-link-btn a pre {
  font-size: 1.6rem;
  font-weight: 500;
}

.c-link-btn:hover {
  background-color: transparent;
  color: #140F34;
}

.c-tag__field {
  height: 23px;
  line-height: 22px;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid black;
}

.c-tag__work-type--small {
  width: 116px;
  height: 25px;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  padding: 4px;
  background-color: white;
}

.c-tag__work-type--large {
  width: 168px;
  height: 35px;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  padding: 6px 12px;
  background-color: white;
}

.c-hamburger-btn {
  width: 36px;
  height: 2px;
  background-color: black;
  position: relative;
}

.c-hamburger-btn::before {
  content: "";
  width: 36px;
  height: 2px;
  background-color: black;
  position: absolute;
  transform: translateX(-50%);
  top: -10px;
}

.c-hamburger-btn::after {
  content: "";
  width: 36px;
  height: 2px;
  background-color: black;
  position: absolute;
  transform: translateX(-50%);
  top: 10px;
}

.p-menubar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1250px) {
  .p-menubar {
    border-right: 1px solid black;
  }
}
.p-menubar .menubar-title {
  padding: 24px 24px;
}
.p-menubar .menubar-title h1 {
  font-size: 3.2rem;
  font-weight: 600;
  display: flex;
  align-items: baseline;
}
@media (min-width: 750px) {
  .p-menubar .menubar-title h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1250px) {
  .p-menubar .menubar-title h1 {
    font-size: 5.6rem;
    font-weight: 700;
    flex-direction: column;
  }
}
.p-menubar .menubar-title h1 a {
  padding-right: 16px;
  transition: 0.2s;
}
.p-menubar .menubar-title h1 span {
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 4px;
}
@media (min-width: 750px) {
  .p-menubar .menubar-title h1 span {
    font-size: 1.8rem;
  }
}
@media (min-width: 1250px) {
  .p-menubar .menubar-title h1 span {
    font-size: 2.4rem;
  }
}
.p-menubar .menubar-title h1 a:hover {
  color: #EC3434;
}
.p-menubar .p-nav .nav-menu {
  border-bottom: 1px solid black;
}
.p-menubar .p-nav .nav-menu li {
  height: 52px;
  font-size: 2.8rem;
  font-weight: 400;
  border-top: 1px solid black;
  transition: background-color 0.2S, color 0.2s;
}
@media (min-width: 1250px) {
  .p-menubar .p-nav .nav-menu li {
    font-size: 4.8rem;
    height: 80px;
  }
}
.p-menubar .p-nav .nav-menu li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  line-height: 52px;
}
@media (min-width: 1250px) {
  .p-menubar .p-nav .nav-menu li a {
    line-height: 80px;
  }
}
.p-menubar .p-nav .nav-menu__contact {
  background-color: #C8EF9B;
}
.p-menubar .p-nav .nav-menu__about:hover, .p-menubar .p-nav .nav-menu__work:hover {
  background-color: #140F34;
  color: #F7F7F7;
}
.p-menubar .p-nav .nav-menu__contact:hover {
  background-color: #140F34;
  color: #C8EF9B;
}

.p-catch {
  width: 85%;
  aspect-ratio: 1/1.6;
  background-image: url(../../../images/papertexture.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 120px;
  position: relative;
  overflow: hidden;
  box-shadow: 4px 4px 6px #8D9F9C;
  -webkit-animation: slideInFromRight 1s ease-in-out;
          animation: slideInFromRight 1s ease-in-out;
}
@media (min-width: 750px) {
  .p-catch {
    aspect-ratio: 1.6/1;
  }
}
@media (min-width: 1250px) {
  .p-catch {
    margin-top: 80px;
  }
}
.p-catch .catch__logo {
  width: 67%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 40%;
  right: -12%;
  transform: rotate(20deg);
  z-index: 5;
  opacity: 0.95;
}
@media (min-width: 750px) {
  .p-catch .catch__logo {
    width: 43%;
    top: 16%;
    right: -7%;
  }
}
.p-catch .catch__title {
  position: absolute;
  top: 20px;
  left: 6%;
  color: #140F34;
}
@media (min-width: 750px) {
  .p-catch .catch__title {
    top: 30px;
    left: 40px;
  }
}
.p-catch .catch__title__head {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 4px;
}
@media (min-width: 1250px) {
  .p-catch .catch__title__head {
    font-size: 1.8rem;
  }
}
.p-catch .catch__title__name {
  font-size: clamp(3.6rem, 10vw, 16rem);
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 32px;
  text-shadow: 1px 1px 2px #140F34;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-in-out 0.5s forwards;
          animation: fadeIn 1.5s ease-in-out 0.5s forwards;
}
@media (min-width: 750px) {
  .p-catch .catch__title__name {
    font-size: clamp(3.6rem, 6.4vw, 16rem);
  }
}
@media (min-width: 1250px) {
  .p-catch .catch__title__name {
    font-size: clamp(3.6rem, 5.4vw, 16rem);
  }
}
.p-catch .catch__title__type {
  width: 80%;
  font-size: clamp(2rem, 5.4vw, 8rem);
  font-weight: 500;
  line-height: 1.3;
  text-shadow: 1px 1px 1.5px #140F34;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-in-out 0.5s forwards;
          animation: fadeIn 1.5s ease-in-out 0.5s forwards;
}
@media (min-width: 750px) {
  .p-catch .catch__title__type {
    width: 100%;
    font-size: clamp(2.4rem, 3.3vw, 8rem);
  }
}
@media (min-width: 1250px) {
  .p-catch .catch__title__type {
    font-size: clamp(2.4rem, 2.8vw, 8rem);
  }
}
.p-catch .catch__tagline {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 4;
}
.p-catch .catch__tagline .catch__tagline__img {
  width: 100%;
  content: url("../../../images/tagline_sp.jpg");
  opacity: 0.95;
}
@media (min-width: 750px) {
  .p-catch .catch__tagline .catch__tagline__img {
    content: url("../../../images/tagline_pc.jpg");
  }
}
.p-catch .catch__tagline p {
  width: 100%;
  text-align: center;
  color: #F7F7F7;
  font-size: 5.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.p-main-visual {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}
.p-main-visual .p-arrow-unit {
  margin-top: 32px;
  -webkit-animation: downArrow 2.5s ease-in-out 5;
          animation: downArrow 2.5s ease-in-out 5;
}

.p-arrow-unit {
  width: 20px;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 750px) {
  .p-arrow-unit {
    width: 24px;
    height: 64px;
  }
}
.p-arrow-unit img {
  width: 100%;
}

.p-section-title {
  margin-top: 32px;
  margin-left: 7%;
  opacity: 0;
}
@media (min-width: 750px) {
  .p-section-title {
    margin-top: 48px;
  }
}
@media (min-width: 1250px) {
  .p-section-title {
    margin-top: 56px;
  }
}
.p-section-title h2 {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 6px;
}
@media (min-width: 750px) {
  .p-section-title h2 {
    font-size: 5.6rem;
  }
}
.p-section-title p {
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  font-weight: 500;
}
@media (min-width: 750px) {
  .p-section-title p {
    font-size: 1.8rem;
  }
}

.p-about {
  width: 100%;
  padding-bottom: 64px;
  border-bottom: 1px solid black;
}
.p-about .about-content {
  width: 85%;
  margin: 32px auto 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  .p-about .about-content {
    width: 80%;
    flex-direction: row;
    margin-top: 40px;
  }
}
.p-about .about-content .about-content__caption {
  margin: 0 auto;
  opacity: 0;
}
@media (min-width: 750px) {
  .p-about .about-content .about-content__caption {
    width: 45%;
  }
}
.p-about .about-content .about-content__caption__img {
  width: 300px;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 750px) {
  .p-about .about-content .about-content__caption__img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
}
.p-about .about-content .about-content__caption__name {
  font-family: "Noto Serif JP", serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 8px;
}
@media (min-width: 750px) {
  .p-about .about-content .about-content__caption__name {
    margin-top: 16px;
    line-height: 1.8;
  }
}
.p-about .about-content .about-content__caption__name span {
  font-size: 1.4rem;
  font-weight: 400;
}
.p-about .about-content .about-content__lead {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  .p-about .about-content .about-content__lead {
    width: 48%;
    margin-top: 0;
    margin-left: 7%;
  }
}
.p-about .about-content .about-content__lead p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0;
}
.p-about .about-content .about-content__lead button {
  margin-top: 40px;
  margin-left: auto;
  margin-right: 0;
}
@media (min-width: 1250px) {
  .p-about .about-content .about-content__lead button {
    margin-top: 64px;
  }
}

.p-skills {
  width: 100%;
  padding-bottom: 32px;
  border-bottom: 1px solid black;
}
.p-skills .skill-card-wrap {
  width: 92%;
  margin: 32px auto 0 auto;
}
@media (min-width: 750px) {
  .p-skills .skill-card-wrap {
    width: 85%;
    margin-top: 40px;
    padding: 0 4%;
  }
}
@media (min-width: 1250px) {
  .p-skills .skill-card-wrap {
    width: 88%;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}

.p-skill-card {
  width: 100%;
  max-width: 800px;
  background-color: #140F34;
  padding-bottom: 20px;
  margin-bottom: 32px;
  box-shadow: 4px 4px 6px #8D9F9C;
}
@media (min-width: 1250px) {
  .p-skill-card {
    width: 48%;
  }
}
.p-skill-card .skill-card__head {
  font-size: 4.8rem;
  font-weight: 500;
  color: rgba(200, 239, 155, 0.8);
  padding: 10px 0 24px 16px;
}
@media (min-width: 750px) {
  .p-skill-card .skill-card__head {
    font-size: 6.4rem;
    padding-bottom: 32px;
  }
}
.p-skill-card .skill-card__content {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 750px) {
  .p-skill-card .skill-card__content {
    padding-left: 34px;
    padding-right: 34px;
  }
}
.p-skill-card .skill-card__content .skill-card__type {
  width: 100%;
  color: #F7F7F7;
  display: flex;
  padding-bottom: 12px;
}
.p-skill-card .skill-card__content .skill-card__type h4 {
  font-size: 2.4rem;
  font-weight: 700;
  width: auto;
}
@media (min-width: 750px) {
  .p-skill-card .skill-card__content .skill-card__type h4 {
    font-size: 3.2rem;
  }
}
.p-skill-card .skill-card__content .skill-card__type .c-line--width {
  flex-grow: 1;
  border-bottom: 1px solid rgba(200, 239, 155, 0.8);
  margin-bottom: 14px;
  margin-left: 24px;
  margin-right: 24px;
}
@media (min-width: 750px) {
  .p-skill-card .skill-card__content .skill-card__type .c-line--width {
    margin-bottom: 18px;
  }
}
.p-skill-card .skill-card__content .skill-card__detail {
  width: 100%;
  color: #F7F7F7;
  display: flex;
  padding-bottom: 32px;
}
.p-skill-card .skill-card__content .skill-card__detail .c-line--height {
  border-left: 1px solid rgba(200, 239, 155, 0.8);
  margin-right: 16px;
}
.p-skill-card .skill-card__content .skill-card__detail p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  padding-right: 5%;
}
@media (min-width: 750px) {
  .p-skill-card .skill-card__content .category-row-wrap {
    display: flex;
  }
}
.p-skill-card .skill-card__content .category-row-wrap .category-unit {
  width: 100%;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.p-skill-card .skill-card__content .category-row-wrap .category-unit .skill-card__category {
  width: 100%;
  color: #F7F7F7;
  display: flex;
  padding-bottom: 12px;
}
.p-skill-card .skill-card__content .category-row-wrap .category-unit .skill-card__category h4 {
  font-size: 2.4rem;
  font-weight: 700;
  width: auto;
}
@media (min-width: 750px) {
  .p-skill-card .skill-card__content .category-row-wrap .category-unit .skill-card__category h4 {
    font-size: 3.2rem;
  }
}
.p-skill-card .skill-card__content .category-row-wrap .category-unit .skill-card__category .c-line--width {
  flex-grow: 1;
  border-bottom: 1px solid rgba(200, 239, 155, 0.8);
  margin-bottom: 14px;
  margin-left: 24px;
}
@media (min-width: 750px) {
  .p-skill-card .skill-card__content .category-row-wrap .category-unit .skill-card__category .c-line--width {
    margin-bottom: 18px;
  }
}
.p-skill-card .skill-card__content .category-row-wrap .category-unit .skill-card__tool {
  width: 100%;
  color: #F7F7F7;
  display: flex;
}
.p-skill-card .skill-card__content .category-row-wrap .category-unit .skill-card__tool .c-line--height {
  border-left: 1px solid rgba(200, 239, 155, 0.8);
  margin-right: 16px;
}
.p-skill-card .skill-card__content .category-row-wrap .category-unit .skill-card__tool p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
}

.p-works {
  width: 100%;
  padding-bottom: 20px;
}
.p-works .works-archive {
  width: 100%;
  margin-top: 32px;
  padding: 0 1%;
}
@media (min-width: 750px) {
  .p-works .works-archive {
    margin-top: 40px;
    padding-left: 2%;
    padding-right: 6%;
    display: flex;
    flex-wrap: wrap;
  }
}

.p-works-item {
  width: 90%;
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto 64px auto;
}
@media (min-width: 750px) {
  .p-works-item {
    width: 45%;
    min-width: 290px;
    margin: 0 auto 64px 5%;
  }
}
@media (min-width: 1250px) {
  .p-works-item {
    margin-bottom: 80px;
  }
}
.p-works-item .works-item__content-wrap .works-item__caption {
  width: 100%;
}
.p-works-item .works-item__content-wrap .works-item__caption__thumbnail {
  width: 100%;
  aspect-ratio: 1.6/1;
  transition: transform 0.4s;
}
.p-works-item .works-item__content-wrap .works-item__caption__thumbnail:hover {
  transform: scale(1.05);
}
.p-works-item .works-item__content-wrap .works-item__caption__lead {
  padding: 12px 14px 16px 14px;
}
.p-works-item .works-item__content-wrap .works-item__caption__lead h5 {
  font-size: 2.2rem;
  font-weight: 500;
}
.p-works-item .works-item__content-wrap .works-item__caption__lead p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 12px;
}
.p-works-item .works-item__content-wrap .works-item__tag__wrap {
  padding-left: 14px;
}
.p-works-item .works-item__content-wrap .works-item__tag__wrap .tag__field__group {
  display: flex;
  margin-top: 6px;
}
.p-works-item .works-item__content-wrap .works-item__tag__wrap .tag__field__group li {
  margin-right: 12px;
}

.p-footer {
  width: 100%;
  height: 100%;
  background-image: url(../../../images/papertexture.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(20, 15, 52, 0.95);
  background-blend-mode: multiply;
  position: relative;
}
.p-footer h2 {
  font-size: 4rem;
  font-weight: 400;
  color: #F7F7F7;
  padding-top: 20px;
  margin-left: 7%;
}
@media (min-width: 750px) {
  .p-footer h2 {
    font-size: 5.6rem;
    padding-top: 24px;
  }
}
@media (min-width: 1250px) {
  .p-footer h2 {
    font-size: 7.2rem;
    padding-top: 32px;
  }
}
.p-footer .contact-content {
  margin-left: 7%;
  margin-top: 18px;
  display: flex;
}
.p-footer .contact-content .line--height {
  border-left: 2px solid rgba(200, 239, 155, 0.8);
  margin-right: 12px;
}
@media (min-width: 750px) {
  .p-footer .contact-content .line--height {
    margin-right: 20px;
  }
}
.p-footer .contact-content .contact-info {
  display: flex;
  flex-direction: column;
}
.p-footer .contact-content .contact-info p {
  font-size: 1.8rem;
  color: #F7F7F7;
  margin-bottom: 8px;
}
@media (min-width: 750px) {
  .p-footer .contact-content .contact-info p {
    font-size: 2.4rem;
    margin-bottom: 12px;
  }
}
@media (min-width: 1250px) {
  .p-footer .contact-content .contact-info p {
    font-size: 3.2rem;
    margin-bottom: 16px;
  }
}
.p-footer .contact-content .contact-info a {
  width: 16px;
  height: 20px;
}
@media (min-width: 750px) {
  .p-footer .contact-content .contact-info a {
    width: 24px;
    height: 30px;
  }
}
.p-footer .contact-content .contact-info a img {
  width: 100%;
}
.p-footer .copyright {
  color: #F7F7F7;
  font-size: 1.2rem;
  font-weight: 200;
  position: absolute;
  bottom: 12px;
  right: 40px;
}
@media (min-width: 750px) {
  .p-footer .copyright {
    font-size: 1.4rem;
    bottom: 16px;
    right: 70px;
  }
}
@media (min-width: 1250px) {
  .p-footer .copyright {
    right: 100px;
  }
}

.p-header {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  background-color: #F7F7F7;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.p-header .header-title {
  color: black;
}
.p-header .header-title h1 {
  font-size: 3.2rem;
  font-weight: 600;
  padding-top: 28px;
}
@media (min-width: 750px) {
  .p-header .header-title h1 {
    font-size: 4rem;
    padding-top: 20px;
  }
}
.p-header .header-title h1 span {
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 8px;
}
@media (min-width: 750px) {
  .p-header .header-title h1 span {
    font-size: 1.8rem;
    margin-left: 12px;
  }
}
.p-header .header-title h1 a:hover {
  color: #EC3434;
  transition: 0.1s;
}
.p-header .menu-btn {
  height: 30px;
  align-self: center;
  margin-top: 10px;
}
.p-header .menu-btn:hover {
  cursor: pointer;
}

.p-page-about__main-visual {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 40px;
  background-color: #140F34;
  border-bottom: 1px solid black;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-out forwards;
          animation: fadeIn 1s ease-out forwards;
}
@media (min-width: 1250px) {
  .p-page-about__main-visual {
    padding-top: 50px;
    padding-bottom: 64px;
  }
}
.p-page-about__main-visual .catch-group {
  color: #F7F7F7;
  margin-left: 5%;
}
.p-page-about__main-visual .catch-group .catch__head {
  font-size: 1.6rem;
  font-weight: 700;
  color: #C8EF9B;
  margin-bottom: 24px;
}
@media (min-width: 1250px) {
  .p-page-about__main-visual .catch-group .catch__head {
    font-size: 2rem;
  }
}
.p-page-about__main-visual .catch-group .catch-copy--jp, .p-page-about__main-visual .catch-group .catch-copy--en {
  font-size: clamp(3.2rem, 5vw, 10rem);
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 20px;
  -webkit-animation: slideInFromRight 1.2s ease-out 0.3s;
          animation: slideInFromRight 1.2s ease-out 0.3s;
}
@media (min-width: 1250px) {
  .p-page-about__main-visual .catch-group .catch-copy--jp, .p-page-about__main-visual .catch-group .catch-copy--en {
    font-size: clamp(4rem, 4vw, 10rem);
  }
}
.p-page-about__main-visual .catch-group .catch-copy--jp {
  font-weight: 500;
  margin-bottom: 20px;
  -webkit-animation: slideInFromRight 1.2s ease-out;
          animation: slideInFromRight 1.2s ease-out;
}
.p-page-about__main-visual .main-visual__content {
  padding: 0 5%;
  margin-top: 40px;
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1250px) {
  .p-page-about__main-visual .main-visual__content {
    flex-direction: row;
    margin-top: 80px;
  }
}
.p-page-about__main-visual .main-visual__content__description {
  width: 100%;
  font-size: 1.8rem;
  color: #F7F7F7;
  padding-top: 32px;
  -webkit-animation: slideInFromUnder 1.2s ease-out;
          animation: slideInFromUnder 1.2s ease-out;
}
@media (min-width: 1250px) {
  .p-page-about__main-visual .main-visual__content__description {
    width: 55%;
    padding-top: 18px;
    padding-right: 8%;
  }
}
.p-page-about__main-visual .main-visual__content__description .description__name-group .name {
  font-weight: 500;
}
.p-page-about__main-visual .main-visual__content__description .description__name-group .handlename {
  font-weight: 700;
  margin-top: 8px;
  padding-left: 12px;
  margin-left: 1px;
  border-left: 1px solid #C8EF9B;
}
.p-page-about__main-visual .main-visual__content__description .description__text {
  margin-top: 24px;
  line-height: 1.8;
}
.p-page-about__main-visual .main-visual__content__img-wrap {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1250px) {
  .p-page-about__main-visual .main-visual__content__img-wrap {
    width: 42%;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
  }
}
.p-page-about__main-visual .main-visual__content__img-wrap img {
  width: 24%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1250px) {
  .p-page-about__main-visual .main-visual__content__img-wrap img {
    width: 45%;
  }
}
.p-page-about__main-visual .main-visual__content__img-wrap .img01 {
  filter: grayscale(100%);
}
.p-page-about__main-visual .main-visual__content__img-wrap .img03 {
  filter: grayscale(100%);
}
@media (min-width: 1250px) {
  .p-page-about__main-visual .main-visual__content__img-wrap .img03 {
    order: 3;
  }
}
.p-page-about__main-visual .main-visual__content__img-wrap .img04 {
  background-color: #F7F7F7;
}

.p-page-about__biography {
  padding: 0 3%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  .p-page-about__biography {
    padding: 0;
    flex-direction: row;
  }
}
.p-page-about__biography .page-about__biography__content {
  width: 100%;
  padding: 32px 0 48px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  .p-page-about__biography .page-about__biography__content {
    width: 70%;
    padding: 72px 10% 48px 5%;
    border-left: 1px solid black;
  }
}
.p-page-about__biography .page-about__biography__content .page-about__biography__article {
  margin-bottom: 40px;
  opacity: 0;
}
.p-page-about__biography .page-about__biography__content .page-about__biography__article .article__date {
  margin-bottom: 8px;
}
.p-page-about__biography .page-about__biography__content .page-about__biography__article .article__heading {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 12px;
}
.p-page-about__biography .page-about__biography__content .page-about__biography__article .article__text {
  line-height: 1.6;
  padding-left: 10px;
  border-left: 1px solid black;
}
@media (min-width: 750px) {
  .p-page-about__biography .page-about__biography__content .page-about__biography__article .article__text {
    padding-left: 16px;
  }
}
.p-page-about__biography .page-about__biography__content button {
  margin-top: 40px;
  align-self: flex-end;
}

.p-page-about__section__space {
  width: 100%;
  height: 120px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
@media (min-width: 750px) {
  .p-page-about__section__space {
    height: 240px;
  }
}
.p-page-about__section__space .section__space__bg {
  width: 100%;
  height: 100%;
  background-image: url(../../../images/space-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.p-page-about__section__space .section__space__bg .p-arrow-unit {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: downArrow 2.5s ease-in-out infinite;
          animation: downArrow 2.5s ease-in-out infinite;
}
@media (min-width: 750px) {
  .p-page-about__section__space .section__space__bg .p-arrow-unit {
    height: 90px;
    left: 15%;
  }
}

.p-page-about__strengths {
  padding: 0 3%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  .p-page-about__strengths {
    padding: 0;
    flex-direction: row;
  }
}
.p-page-about__strengths .page-about__strengths__content {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  .p-page-about__strengths .page-about__strengths__content {
    width: 70%;
    border-left: 1px solid black;
    padding-top: 30px;
  }
}
.p-page-about__strengths .page-about__strengths__content__article-area {
  width: 100%;
  padding: 32px 0 32px 0;
  border-bottom: 1px solid black;
}
@media (min-width: 750px) {
  .p-page-about__strengths .page-about__strengths__content__article-area {
    padding: 40px 10% 40px 7%;
  }
}
.p-page-about__strengths .page-about__strengths__content__article-area .strengths__article {
  width: 100%;
}
.p-page-about__strengths .page-about__strengths__content__article-area .strengths__article .article__heading {
  font-size: clamp(2.4rem, 2.2vw, 4.8rem);
  font-weight: 700;
  margin-bottom: 16px;
}
.p-page-about__strengths .page-about__strengths__content__article-area .strengths__article .article__text {
  line-height: 1.6;
}
.p-page-about__strengths .page-about__strengths__content__article-area:last-child {
  border: none;
}

.p-page-about__section-title {
  width: 100%;
  padding-top: 40px;
  padding-right: 3%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  opacity: 0;
}
@media (min-width: 750px) {
  .p-page-about__section-title {
    width: 30%;
    padding-top: 64px;
    padding-left: 2.5%;
    border-bottom: none;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.p-page-about__section-title h2 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 12px;
}
@media (min-width: 750px) {
  .p-page-about__section-title h2 {
    font-size: clamp(4rem, 4.5vw, 5.6rem);
  }
}
@media (min-width: 1250px) {
  .p-page-about__section-title h2 {
    font-size: 5.6rem;
    margin-bottom: 16px;
  }
}
.p-page-about__section-title p {
  font-size: 1.6rem;
}
@media (min-width: 750px) {
  .p-page-about__section-title p {
    font-size: 1.8rem;
  }
}
@media (min-width: 1250px) {
  .p-page-about__section-title p {
    font-size: 2.4rem;
  }
}

.p-single__main-visual {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  border-bottom: 1px solid black;
  opacity: 0;
  -webkit-animation: fadeIn 0.7s ease-out forwards;
          animation: fadeIn 0.7s ease-out forwards;
}
@media (min-width: 1250px) {
  .p-single__main-visual {
    width: 85%;
    margin: 40px auto;
    padding-top: 0;
  }
}
.p-single__main-visual .single-title {
  font-size: 4rem;
  font-weight: 400;
  padding-bottom: 6px;
  border-bottom: 1px solid black;
}
@media (min-width: 1250px) {
  .p-single__main-visual .single-title {
    font-size: 5.6rem;
    padding-bottom: 10px;
  }
}
.p-single__main-visual .single-title span {
  font-size: 1.8rem;
  font-family: "Noto Serif JP", serif;
  padding-left: 40px;
}
@media (min-width: 1250px) {
  .p-single__main-visual .single-title span {
    font-size: 2.4rem;
  }
}
.p-single__main-visual .main-visual__content {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
@media (min-width: 750px) {
  .p-single__main-visual .main-visual__content {
    width: 90%;
    padding-top: 56px;
  }
}
.p-single__main-visual .main-visual__content .product-title {
  font-size: clamp(1.8rem, 5vw, 2.8rem);
  font-weight: 500;
  margin-bottom: 16px;
}
.p-single__main-visual .main-visual__content img {
  width: 100%;
  height: auto;
}
.p-single__main-visual .main-visual__content .site-link {
  width: 180px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 6px 0 0 auto;
}
@media (min-width: 750px) {
  .p-single__main-visual .main-visual__content .site-link {
    width: 220px;
    margin-top: 24px;
    font-size: 2rem;
  }
}
.p-single__main-visual .main-visual__content .site-link a {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  line-height: 36px;
}
.p-single__main-visual .main-visual__content .site-link a:hover {
  color: #EC3434;
}

.p-single__article-area {
  width: 90%;
  margin: 40px auto 20px auto;
}
@media (min-width: 750px) {
  .p-single__article-area {
    width: 85%;
    margin-bottom: 40px;
  }
}
.p-single__article-area .article__description {
  margin-bottom: 56px;
}
.p-single__article-area .article__description__tag {
  margin-bottom: 20px;
}
.p-single__article-area .article__description__text {
  font-size: 2rem;
  line-height: 1.6;
}
@media (min-width: 750px) {
  .p-single__article-area .article__description__text {
    padding-right: 30%;
  }
}
.p-single__article-area .article__detail {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 750px) {
  .p-single__article-area .article__detail {
    flex-direction: row;
  }
}
.p-single__article-area .article__detail .article__detail__items-wrap {
  width: 100%;
}
@media (min-width: 750px) {
  .p-single__article-area .article__detail .article__detail__items-wrap {
    width: 70%;
  }
}
.p-single__article-area .article__detail .article__detail__items-wrap .article__detail__item {
  margin-bottom: 56px;
}
.p-single__article-area .article__detail .article__detail__items-wrap .article__detail__item__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}
.p-single__article-area .article__detail .article__detail__items-wrap .article__detail__item__text {
  font-size: 1.8rem;
  line-height: 1.6;
}
.p-single__article-area .article__detail .category-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 750px) {
  .p-single__article-area .article__detail .category-wrap {
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    margin-left: 10%;
  }
}
.p-single__article-area .article__detail .category-wrap .category {
  margin-bottom: 56px;
  width: 45%;
}
@media (min-width: 750px) {
  .p-single__article-area .article__detail .category-wrap .category {
    width: 100%;
  }
}
.p-single__article-area .article__detail .category-wrap .category__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}
.p-single__article-area .article__detail .category-wrap .category__items {
  border-left: 1px solid black;
  padding-left: 12px;
}
.p-single__article-area .article__detail .category-wrap .category__items li {
  font-size: 1.8rem;
  margin-bottom: 4px;
}

.p-single__gallery {
  width: 100%;
  background-color: #F7F7F7;
  padding-top: 50px;
  padding-bottom: 120px;
}
.p-single__gallery .gallery__img {
  width: 80%;
  margin: 0 auto;
}
.p-single__gallery .gallery__img img {
  width: 100%;
}

.menuBtnStyle {
  background-color: #F7F7F7;
}

.menuBtnStyle::before {
  background-color: #F7F7F7;
}

.menuBtnStyle::after {
  background-color: #F7F7F7;
}

.under-page__header-style {
  background-color: #140F34;
  border-bottom: 1px solid #F7F7F7;
}
.under-page__header-style .header-title {
  color: #F7F7F7;
}

.u-dropMenu {
  top: 0;
}

.u-active--slideInFromUnder {
  -webkit-animation: slideInFromUnder 1s ease-in-out forwards;
          animation: slideInFromUnder 1s ease-in-out forwards;
}

.u-active--slideInFromLeft {
  -webkit-animation: slideInFromLeft 1s ease-in-out forwards;
          animation: slideInFromLeft 1s ease-in-out forwards;
}

.u-active--slideInFromRight {
  -webkit-animation: slideInFromRight 1s ease-in-out forwards;
          animation: slideInFromRight 1s ease-in-out forwards;
}
/*# sourceMappingURL=style.css.map */