@charset "UTF-8";
@use "../../foundation/variables" as var;


.c-hamburger-btn {
    width: 36px;
    height: 1px;
    background-color: var.$white;
    position: relative;
}
.c-hamburger-btn::before {
    content: "";
    width: 36px;
    height: 1px;
    background-color: var.$white;
    position: absolute;
    transform: translateX(-50%);
    top: -10px;
}
.c-hamburger-btn::after {
    content: "";
    width: 36px;
    height: 1px;
    background-color: var.$white;
    position: absolute;
    transform: translateX(-50%);
    top: 10px;
}