@charset "UTF-8";


.c-heading--playfair-display {
    font-family: "Playfair Display", serif;
}

.c-heading--noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
}

.c-heading--noto-serif-jp {
  font-family: "Noto Serif JP", serif;
}

.c-heading--inter {
font-family: "Inter", sans-serif;
}