@charset "UTF-8";
@use "../../foundation/variables" as var;


.c-link-btn {
    width: 240px;
    height: 54px;
    background-color: var.$navy;
    color: var.$white;
    border: 1px solid var.$navy;
    transition: all 0.2s;
    border-radius: 12px 0 0 0;

    a {
        display: inline-block;
        width: 100%;
        line-height: 54px;

        span {
            display: inline-block;
            width: 100%;
            font-size: 1.6rem;
            position: relative;
            padding-left: 38px;
        }

        span::before {
            content: "";
            width: 10px;
            height: 1.4px;
            background-color: var.$white;
            position: absolute;
            right: 40px;
            top: 52%;
            transform: rotate(40deg);
            transform-origin: bottom right;
        }
        span::after {
            content: "";
            width: 24px;
            height: 1.2px;
            background-color: var.$white;
            position: absolute;
            right: 40px;
            top: 52%;
        }
    }
}
.c-link-btn:hover {
    background-color: transparent;
    color: var.$navy;
}
.c-link-btn:hover a span::before,.c-link-btn:hover a span::after {
    background-color: var.$navy;
    transition: 0.2s;
}