@charset "UTF-8";
@use "../../foundation/variables" as var;


.c-tag--small {
    font-size: 1.2rem;
    color: black;
    font-family: "Inter", sans-serif;
    line-height: 1.8;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
}

.c-tag--large {
    font-size: 1.6rem;
    color: black;
    font-family: "Inter", sans-serif;
    line-height: 1.8;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid black;
}