@charset "UTF-8";
@use "../../foundation/variables" as var;


.c-tag__field {
    height: 23px;
    line-height: 22px;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
}