@charset "UTF-8";
@use "../../foundation/variables" as var;


.c-tag__work-type--small {
    width: 116px;
    height: 25px;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.2rem;
    padding: 4px;
    background-color: white;
}

.c-tag__work-type--large {
    width: 168px;
    height: 35px;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.6rem;
    padding: 6px 12px;
    background-color: white;
}