@charset "UTF-8";
@use "../../foundation/variables" as var;


.u-active--slideInFromUnder {
    animation: slideInFromUnder 1s ease-in-out forwards;
}

.u-active--slideInFromLeft {
    animation: slideInFromLeft 1s ease-in-out forwards 0.1s;
}

.u-active--slideInFromRight {
    animation: slideInFromRight 1s ease-in-out forwards;
}

.u-active--fadeIn {
    animation: fadeIn 1.2s ease-in-out forwards;
}