@charset "UTF-8";
@use "../../foundation/variables" as var;


//トップページ以外のヘッダーのスタイル
.menuBtnStyle {
    background-color: var.$white;
}
.menuBtnStyle::before {
    background-color: var.$white;
}
.menuBtnStyle::after {
    background-color: var.$white;
}


.headerStyle {
    background-color: var.$navy;
    border-bottom: 1px solid var.$white;

    .header-title {
        color: var.$white;
    }
}