@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-about {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    
    .p-section-title {
        font-size: 10rem;
        position: absolute;
        transform: rotate(90deg);
        top: 110px;
        left: -97px;
        @include var.breakpoint(tablet) {
            font-size: 16rem;
            top: 160px;
            left: -154px;
        }
        @include var.breakpoint(pc) {
            font-size: 20rem;
            top: 180px;
            left: -190px;
        }
    }

    .about-content {
        width: 92%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @include var.breakpoint(tablet) {
            width: 100%;
            padding: 80px 8% 0 140px;
            flex-direction: row;
        }
        @include var.breakpoint(pc) {
            padding: 110px 8% 0 180px;
        }

        .about-content__caption {
            padding-top: 48px;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0;

            @include var.breakpoint(tablet) {
                width: 38%;
                padding-left: 0;
                margin-right: 6%;
            }
            @include var.breakpoint(pc) {
                margin-right: 8%;
            }

            &__img {
                width: 180px;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                background-image: url(../../../images/papertexture.png);
                overflow: hidden;
                position: relative;
                @include var.breakpoint(pc) {
                    width: 200px;
                }

                img {
                    width: 80%;
                    transform: scale(-1, 1);
                    filter: grayscale(100%);
                    position: absolute;
                    left: 20px;
                    bottom: -4px;
                }
            }

            &__name {
                margin-top: 20px;

                p {
                font-family: "Noto Serif JP", serif;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.8;
                @include var.breakpoint(pc) {
                    font-size: 1.8rem;
                }
                    span {
                        font-size: 1.4rem;
                        font-weight: 400;
                    }
                }
            }
        }

        .about-content__lead {
            display: flex;
            flex-direction: column;
            margin-top: 32px;
            opacity: 0;

            @include var.breakpoint(tablet) {
                margin-top: 0;
                width: 54%;
            }

            &__heading {
                width: 100%;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.8;
                border-bottom:1px solid black ;
                @include var.breakpoint(tablet) {
                    font-size: 3.2rem;
                }
            }
            
            &__text {
                font-family: "Noto Sans JP", sans-serif;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.8;
                margin-top: 24px;
                @include var.breakpoint(tablet) {
                    margin-top: 24px;
                }
                @include var.breakpoint(pc) {
                    margin-top: 32px;
                }
            }

            button {
                margin-top: 40px;
                margin-left: auto;
                margin-right: 0;
                align-self: flex-end;
                @include var.breakpoint(tablet) {
                    margin-top: 72px;
                }
            }
        }
    }
}