@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-arrow-unit {
    width: 20px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include var.breakpoint(tablet) {
        width: 24px;
        height: 64px;
    }

    img {
        width: 100%;
    }
}