@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-page-about__strengths {
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    @include var.breakpoint(tablet) {
        padding: 0;
        flex-direction: row;
    }

    .page-about__strengths__content {
        width: 100%;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        @include var.breakpoint(tablet) {
            width: 70%;
            border-left: 1px solid black;
            padding-top: 30px;
        }

        &__article-area {
            width: 100%;
            padding: 32px 0 32px 0;
            border-bottom: 1px solid black;
            @include var.breakpoint(tablet) {
                padding: 40px 10% 40px 7%;

            }
            .strengths__article {
                width: 100%;

                .article__heading {
                    font-size: clamp(2.4rem, 2.2vw, 4.8rem);
                    font-weight: 700;
                    margin-bottom: 16px;
                }
                .article__text {
                    line-height: 1.6;
                }
            }
        }
        &__article-area:last-child {
            border: none;
        }
    }
}