@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-page-about__main-visual {
    width: 100%;
    padding-top: 110px;
    padding-bottom: 54px;
    background-color: var.$navy;
    border-bottom: 1px solid black;
    overflow: hidden;
    @include var.breakpoint(tablet) {
        padding-bottom: 32px;
    }
    @include var.breakpoint(pc) {
        padding-top: 40px;
    }
        
    .page-title {
        font-size: 1.6rem;
        font-weight: 700;
        color: var.$limegreen;
        line-height: 1.5;
        margin: 0 5% 20px 5%;
        @include var.breakpoint(tablet) {
            margin-bottom: 32px;
        }
        @include var.breakpoint(pc) {
            font-size: 2.0rem;
            padding-bottom: 4px;
            border-bottom: 1px solid var.$limegreen;
        }
    }

    .catch-copy {
        font-size: clamp(3.2rem, 7.5vw, 4.5rem);
        font-weight: 600;
        color: var.$white;
        line-height: 1.5;
        margin-left: 5%;
        animation: slideInFromRight 1.2s ease-out;
        @include var.breakpoint(tablet) {
            font-size: clamp(3.2rem, 5vw, 6rem);
        }
        @include var.breakpoint(pc) {
            font-size: clamp(4.0rem, 4.0vw, 8rem);
        }
        span {
            display: inline-block;
        }
    }

    .main-visual__content {
        padding: 0 5%;
        margin-top: 28px;
        display: flex;
        flex-direction: column-reverse;
        @include var.breakpoint(tablet) {
            flex-direction: row;
            padding: 0 2% 0 5%;
            margin-top: 48px;
        }

        &__description {
            width: 100%;
            color: var.$white;
            animation: slideInFromUnder 1.2s ease-out;
            @include var.breakpoint(tablet) {
                width: 40%;
                margin-top: 32px;
                margin-right: 5%;
            }
            @include var.breakpoint(pc) {
                width: 34%;
                min-width: 272px;
                margin-right: 5%;
            }

            .description__title {
                font-size: 1.6rem;
                font-weight: 720;
                padding-bottom: 4px;
                border-bottom: 1px solid var.$white;
                @include var.breakpoint(pc) {
                    font-size: 2.0rem;
                }
            }
            
            .description__text {
                font-size: 1.8rem;
                margin-top: 24px;
                line-height: 2.0;
            }
        }

        &__eye-catch {
            height: 100%;
            margin-bottom: 40px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 700px;
            animation: fadeIn 2s ease-in-out;

            .copy__head,.copy__foot {
                font-size: clamp(2rem, 12vw, 9rem);
                font-weight: 600;
                line-height: 1.1;
                color: var.$limegreen;
                opacity: 0.8;
                @include var.breakpoint(tablet) {
                    font-size: clamp(2rem, 7vw, 11rem);
                }
                @include var.breakpoint(pc) {
                    font-size: clamp(9rem, 6.4vw, 11rem);
                }
                span {
                    color: transparent;
                    -webkit-text-stroke: 1px var.$limegreen;
                }
            }

            .copy__head {
                text-align: right;
                letter-spacing: 4px;
            }
            
            .copy__foot {
                margin-top: 26%;
                @include var.breakpoint(tablet) {
                    margin-top: 32%;
                }
                @include var.breakpoint(pc) {
                    margin-top: 22%;
                }
                span {
                    letter-spacing: 4px;
                }
            }

            .thumbnail {
                width: 45%;
                position: absolute;
                top: 24%;
                transform: translateX(-100%);
                left: 47%;
                @include var.breakpoint(pc) {
                    width: 47%;
                    top: 22%;
                }
            }

            .motto {
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                transform: translateX(100%);
                right: 44%;
                top: 40%;
                @include var.breakpoint(pc) {
                    width: 41%;
                    top: 39%;
                }

                &__title {
                    font-size: clamp(1.4rem, 4.2vw, 2.8rem);
                    font-weight: 600;
                    color: var.$white;
                    padding-bottom: 4px;
                    background: linear-gradient(to right, #EAD38F -10%, #F7F7F7 40%);
                    background-clip: text; /* 背景クリップをテキストのみに適用 */
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; /* テキストの塗りを透明にする */
                    @include var.breakpoint(tablet) {
                        font-size: clamp(1.4rem, 2.6vw, 4rem);
                    }
                    @include var.breakpoint(pc) {
                        font-size: clamp(3.4rem, 2vw, 4rem);
                    }
                }
                
                &__card {
                    width: 100%;
                }
            }
        }
    }
}