@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-page-about__section-title {
    width: 100%;
    padding-top: 40px;
    padding-right: 3%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    opacity: 0;
    @include var.breakpoint(tablet) {
        width: 30%;
        padding-top: 64px;
        padding-left: 2.5%;
        border-bottom: none;
        flex-direction: column;
        justify-content: flex-start;
    }

    h2 {
       font-size: 4.0rem;
       font-weight: 400;
       margin-bottom: 12px;
       @include var.breakpoint(tablet) {
            font-size: clamp(4.0rem, 4.5vw, 5.6rem);
        }
       @include var.breakpoint(pc) {
            font-size: 5.6rem;
            margin-bottom: 16px;
       }
    }
    p {
        font-size: 1.6rem;
        @include var.breakpoint(tablet) {
            font-size: 1.8rem;
       }
        @include var.breakpoint(pc) {
            font-size: 2.4rem;
        }
    }
}