@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-section__title {
    font-family: "Noto Serif JP", serif;
    font-size: clamp(1.6rem, 2vw, 2.8rem);
    font-weight: 500;
    color: var.$navy;
    padding: 0 3%;
    border-bottom: 1px solid var.$navy;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include var.breakpoint(tablet) {
        padding: 0 1%;
    }
    
    span {
        font-family: "Playfair Display", serif;
        font-size: clamp(6rem, 9.7vw, 14rem);
        font-weight: 600;
        line-height: 0.82;
    }
}