@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-section-title {
    font-family: "Playfair Display", serif;
    color: var.$navy;
    font-size: 9rem;
    font-weight: 600;
    opacity: 0.9;
}