@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-service {
    width: 94%;
    margin: 0 auto;
    max-width: 500px;
    @include var.breakpoint(tablet) {
        width: 84%;
        max-width: 1150px;
    }

    .p-section__title {
        margin: 0 auto;
        @include var.breakpoint(tablet) {
            width: 78.6%;
            margin-right: 0;
        }
    }

    .service__article-wrap {
        width: 84%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        gap: 64px;
        margin: 48px auto 0 auto;
        @include var.breakpoint(tablet) {
            width: 100%;
            max-width: none;
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
            margin: 80px auto 0 auto;
        }
    }

    .service__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include var.breakpoint(tablet) {
            width: 30%;
        }

        .service__article__title {
            width: 100%;
            font-family: "Inter", sans-serif;
            font-size: clamp( 2rem, 1.7vw, 2.4rem);
            font-weight: 500;
            padding: 0 6px;
            border-bottom: 1px solid var.$navy;
        }

        .service__article__img {
            width: 98%;
            aspect-ratio: 1.67 / 1;
            position: relative;
            margin-top: 28px;
            background-color: var.$lightgreen;

            .c-sub-title {
                position: absolute;
                top: -12px;
            }
            
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50%);
                height: 100%;
            }
        }

        .service__article__description {
            width: 98%;
            font-family: "Inter", sans-serif;
            line-height: 1.6;
            margin-top: 12px;
        }
    }
}