@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-single__article-area {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    @include var.breakpoint(tablet) {
        margin-bottom: 40px;
    }
    
    .article__description {
        margin-left: 7.5%;
        margin-bottom: 56px;

        &__tag {
            margin-bottom: 20px;
        }

        &__text {
            font-size: 1.8rem;
            line-height: 1.6;
            @include var.breakpoint(tablet) {
                font-size: 2.0rem;
                padding-right: 30%;
            }
        }
    }

    .article__detail {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 7.5%;
        padding-right: 7.5%;
        @include var.breakpoint(tablet) {
            flex-direction: row;
        }

        .article__detail__items-wrap {
            width: 100%;
            @include var.breakpoint(tablet) {
                width: 70%;
            }

            .article__detail__item {
                margin-bottom: 56px;

                &__title {
                    font-size: 2.4rem;
                    font-weight: 700;
                    margin-bottom: 16px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid black;
                }

                &__text {
                    font-size: 1.8rem;
                    line-height: 1.6;
                    @include var.breakpoint(tablet) {
                        line-height: 1.8;
                    }
                }
            }
        }

        .category-wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
            @include var.breakpoint(tablet) {
                flex-direction: column;
                justify-content: flex-start;
                width: 20%;
                margin-left: 10%;
            }

            .category {
                margin-bottom: 56px;
                width: 45%;
                @include var.breakpoint(tablet) {
                    width: 100%;
                }

                &__title {
                    font-size: 2.4rem;
                    font-weight: 700;
                    margin-bottom: 16px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid black;
                }

                &__items {
                    border-left: 1px solid black;
                    padding-left: 12px;

                    li {
                        font-size: 1.8rem;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }

    .bg-text--production,.bg-text--actions {
        font-size: 0;
        font-family: "Playfair Display", serif;
        line-height: 1;
        color: transparent;
        -webkit-text-stroke: 1px var.$navy;
        opacity: 0.2;
        white-space: nowrap;
        position: absolute;
        @include var.breakpoint(tablet) {
            font-size: 8rem;
        }
        @include var.breakpoint(pc) {
            font-size: 10rem;
        }
    }

    .bg-text--production {
        transform: rotate(90deg);
        @include var.breakpoint(tablet) {
            top: 200px;
            left: -164px;
        }
        @include var.breakpoint(pc) {
            top: 240px;
            left: -206px;
        }
    }

    .bg-text--actions {
        transform: rotate(-90deg);
        @include var.breakpoint(tablet) {
            top: 290px;
            right: -100px;
        }
        @include var.breakpoint(pc) {
            right: -124px;
        }
    }
}