@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-single__gallery {
    width: 100%;
    background-color: var.$white;
    padding-top: 32px;
    padding-bottom: 130px;
    position: relative;
    @include var.breakpoint(tablet) {
        padding-top: 50px;
        padding-bottom: 160px;
    }

    .bg-text--works {
        font-size: 4.2rem;
        font-family: "Playfair Display", serif;
        line-height: 1;
        color: transparent;
        -webkit-text-stroke: 1px var.$navy;
        opacity: 0.2;
        white-space: nowrap;
        position: absolute;
        top: -14px;
        right: 8px;
        @include var.breakpoint(tablet) {
            font-size: 8rem;
            top: -30px;
        }
        @include var.breakpoint(pc) {
            font-size: 11rem;
            top: -43px;
        }
    }

    .gallery__img {
        width: 80%;
        margin: 0 auto;
        position: relative;
        
        img {
            width: 100%;
        }

        p {
            text-align: center;
            margin-top: 64px;
        }
    }
}