@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-single__article-area {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 80px;
    position: relative;
    @include var.breakpoint(tablet) {
        margin-bottom: 140px;
    }
    
    .article__description {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto 64px auto;
        @include var.breakpoint(tablet) {
            width: 76%;
        }

        .c-category__group {
            display: flex;
            margin-bottom: 14px;
        }

        .tag__group {
            display: flex;
            margin-bottom: 18px;

            li {
                font-size: 1.4rem;
                padding-left: 10px;
                padding-right: 10px;
                margin-right: 12px;
                @include var.breakpoint(tablet) {
                    font-size: 1.6rem;
                    padding-left: 12px;
                    padding-right: 12px;
                    margin-right: 20px;
                }
            }
        }

        &__text {
            font-size: 1.8rem;
            line-height: 1.6;
            @include var.breakpoint(tablet) {
                font-size: 2.0rem;
                line-height: 1.8;
            }
        }
    }

    .article__detail {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        @include var.breakpoint(tablet) {
            width: 76%;
        }

        .article__detail__items-wrap {
            width: 100%;

            .article__detail__item {
                margin-bottom: 56px;

                &__title {
                    font-size: 2.2rem;
                    font-weight: 700;
                    margin-bottom: 16px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid black;
                    @include var.breakpoint(tablet) {
                        font-size: 2.4rem;
                    }
                }

                &__text {
                    font-size: 1.8rem;
                    line-height: 1.6;
                    @include var.breakpoint(tablet) {
                        line-height: 1.8;
                    }
                }
            }
        }
    }

    .bg-text--production {
        font-size: 0;
        font-family: "Playfair Display", serif;
        line-height: 1;
        color: transparent;
        -webkit-text-stroke: 1px var.$navy;
        opacity: 0.2;
        white-space: nowrap;
        position: absolute;
        transform: rotate(90deg);
        @include var.breakpoint(tablet) {
            font-size: 8rem;
            top: 240px;
            left: -280px;
        }
        @include var.breakpoint(pc) {
            font-size: 11rem;
            top: 340px;
            left: -388px;
        }
    }
}