@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-skills {
    width: 92%;
    border-radius: 0 24px 24px 0;
    opacity: 0;
    background-image: url(../images/papertexture.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(20, 15, 52, 0.95);
    background-blend-mode: multiply;

    .p-section-title {
        font-size: 9rem;
        color: transparent;
        -webkit-text-stroke: 1px var.$white;
        @include var.breakpoint(tablet) {
            font-size: 14rem;
        }
        @include var.breakpoint(pc) {
            font-size: 20rem;
        }
        span {
            display: none;
            @include var.breakpoint(tablet) {
                display: inline-block;
                font-size: 3.2rem;
                font-weight: 500;
                font-family: "Noto Serif JP", serif;
                color: var.$white;
                -webkit-text-stroke: none;
                margin-left: 56px;
            }
        }
    }

    .skill__content-wrap {
        width: 96%;
        margin: 32px auto 0 auto;
        display: flex;
        flex-direction: column;
        @include var.breakpoint (tablet) {
            width: 90%;
        }
        @include var.breakpoint (pc) {
            flex-direction: row;
        }

        .skill__content {
            padding-bottom: 32px;
            @include var.breakpoint (pc) {
                padding-bottom: 80px;
            }

            &__label {
                width: 100%;
                font-family: "Inter", sans-serif;
                font-size: 1.6rem;
                font-weight: 500;
                color: var.$limegreen;
                padding-left: 4px;
                padding-bottom: 4px;
                border-bottom: 1px solid var.$limegreen;
                margin-bottom: 20px;
                @include var.breakpoint (tablet) {
                    font-size: 2.4rem;
                    padding-left: 20px;
                    margin-bottom: 28px;
                }
            }
        
            &__detail {
                width: 100%;
                padding-right: 2%;
                color: var.$white;
                @include var.breakpoint (tablet) {
                    padding-left: 4%;
                    padding-right: 6%;
                }
        
                &__title {
                    width: 100%;
                    font-family: "Noto Serif JP", serif;
                    font-weight: 700;
                    font-size: 2.6rem;
                    padding-bottom: 12px;
                    @include var.breakpoint (tablet) {
                        font-size: 3.2rem;
                    }
                }
        
                &__text {
                    width: 100%;
                    display: flex;
                    padding-bottom: 32px;
        
                    .c-line--height {
                        border-left: 1px solid rgba(200, 239, 155, 0.8);
                        margin-right: 16px;
                    }

                    p {
                        font-size: 1.8rem;
                        font-weight: 400;
                        line-height: 1.8;
                    }
                }
            }
        
            &__category-wrap {
                padding-right: 2%;
                @include var.breakpoint(tablet) {
                    display: flex;
                    padding-left: 4%;
                    padding-right: 6%;
                }
    
                .skill__content__category {
                    width: 100%;
                    color: var.$white;
                    padding-right: 24px;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 32px;
    
                    &__title {
                        width: 100%;
                        font-family: "Noto Serif JP", serif;
                        font-weight: 700;
                        padding-bottom: 12px;
                        font-size: 2.6rem;
                        @include var.breakpoint(tablet) {
                            font-size: 3.2rem;
                        }
                    }
    
                    &__tool {
                        width: 100%;
                        display: flex;
    
                        .c-line--height {
                            border-left: 1px solid rgba(200, 239, 155, 0.8);
                            margin-right: 16px;
                        }
                        
                        p {
                            font-size: 1.8rem;
                            font-weight: 400;
                            line-height: 1.6;
                        }
                    }
                }
            }
        }
    }
}