@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-skills {
    padding: 40px 0 120px 0;
    margin-top: 10px;
    position: relative;
    @include var.breakpoint(tablet) {
        padding-bottom: 140px;
    }
    @include var.breakpoint(pc) {
        margin-top: 50px;
    }
    
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var.$navy;
        mix-blend-mode: multiply;
    }

    .bg-text {
        width: 100%;
        font-family: "Playfair Display", serif;
        font-size: clamp( 6rem, 9.4vw, 14rem);
        font-weight: 600;
        color: #B5B5B5;
        text-align: center;
        line-height: 0.8;
        white-space: nowrap;
        mix-blend-mode: difference;
        opacity: 0.25;
        position: absolute;
        left: 50%;
        top: 28px;
        transform: translate( -50%, -100%);
        @include var.breakpoint(tablet) {
            font-size: clamp( 10rem, 9.4vw, 14rem);
            top: 64px;
        }
        span {
            font-size: calc(clamp( 6rem, 9.4vw, 14rem) * 0.6);
            padding-left: 2.4%;
            padding-right: 1.8%;
            @include var.breakpoint(tablet) {
                font-size: calc(clamp( 10rem, 9.4vw, 14rem) * 0.6);
            }
        }
    }

    .skills__content {
        width: 87%;
        position: relative;
        max-width: 450px;
        margin: 0 auto;
        @include var.breakpoint(tablet) {
            width: 84%;
            max-width: 1150px;
        }


        .skills__title {
            font-family: "Inter", sans-serif;
            font-size: clamp( 2rem, 1.7vw, 2.4rem);
            font-weight: 500;
            color: var.$white;
            padding: 0 6px;
            margin: 0 auto;
            border-bottom: 1px solid var.$white;
        }

        .skills__article-wrap {
            display: flex;
            flex-direction: column;
            gap: 56px;
            margin: 32px auto 0 auto;
            @include var.breakpoint(tablet) {
                flex-direction: row;
                justify-content: space-between;
                gap: 0;
            }

            .skills__article {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 16px;
                @include var.breakpoint(tablet) {
                    width: 30%;
                    gap: 20px;
                }

                .c-sub-title {
                    width: fit-content;
                    // @include var.breakpoint(tablet) {
                    //     display: none;
                    // }
                }

                .skills__article__icon {
                    height: 35px;
                    display: flex;
                    gap: 12px;
                }

                .skills__article__description {
                    font-family: "Inter", sans-serif;
                    color: var.$white;
                    line-height: 1.6;
                }
            }
        }

        .skills__note {
            font-family: "Inter", sans-serif;
            color: var.$white;
            margin-top: 80px;

            .skills__note__title {
                font-size: clamp( 2rem, 1.7vw, 2.4rem);
                font-weight: 500;
                padding: 0 6px;
                border-bottom: 1px solid var.$white;
            }
            
            .skills__note__text {
                line-height: 1.5;
                margin-top: 16px;
                padding: 0 6px;
                @include var.breakpoint(tablet) {
                    margin-top: 24px;
                }
            }
        }
    }
}