@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-works {
    width: 100%;
    padding-bottom: 20px;

    .works-archive {
        width: 100%;
        margin-top: 32px;
        padding: 0 1%;
        @include var.breakpoint(tablet) {
            margin-top: 40px;
            padding-left: 2%;
            padding-right: 6%;
            display: flex;
            flex-wrap: wrap;
        }
    }
}