@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-works-item {
    width: 100%;
    min-width: 310px;
    margin-bottom: 64px;
    @include var.breakpoint(tablet) {
        width: 46%;
    }
    @include var.breakpoint(pc) {
        margin-bottom: 80px;
    }
    
    .works-item__content-wrap {
        .works-item__caption {
            width: 100%;

            img {
                width: 100%;
                aspect-ratio: 1.6 / 1;
                transition: transform 0.4s;
            }
            img:hover {
                transform: scale(1.05);
            }

            &__lead {
                padding: 12px 14px 16px 14px;

                h5 {
                    font-size: 2.2rem;
                    font-weight: 500;
                }
                
                .excerpt p{
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-top: 12px;
                }
            }
        }

        .works-item__category__wrap {
            padding-left: 14px;

            .tag__group {
                display: flex;
                margin-top: 6px;

                li {
                    margin-right: 12px;
                }
            }
        }
    }
}