@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-works-item {
    width: 100%;
    
    .works-item__content {

        .works-item__thumbnail {
            width: 100%;
            aspect-ratio: 1.54 / 1;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.4s;
            }
            img:hover {
                transform: scale(1.05);
            }
        }

        .works-item__description {
            padding: 14px 3% 0 3%;

            .work__title {
                display: flex;
                justify-content: space-between;

                .name {
                    font-family: "Inter", sans-serif;
                    font-size: 1.8rem;
                    font-weight: 500;
                }
                .date {
                    font-family: "Inter", sans-serif;
                    font-size: 1.2rem;
                    align-self: flex-start;
                }
            }

            .work__category {
                margin-top: 10px;
                display: flex;
                gap: 12px;
                
                span {
                    font-family: "Inter", sans-serif;
                    font-size: 1.2rem;
                    padding: 4px 8px;
                    border: 1px solid black;
                }
            }
        }
    }
}