@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-works {
    padding-top: 80px;
    padding-bottom: 150px;
    background-color: var.$lightgreen;
    @include var.breakpoint(tablet) {
        padding-top: 120px;
        padding-bottom: 180px;
    }

    .p-section__title {
        width: 94%;
        max-width: 450px;
        margin: 0 auto;
        @include var.breakpoint(tablet) {
            width: 80%;
            max-width: 1150px;
        }
    }
    
    .works__archive {
        width: 84%;
        max-width: 400px;
        margin: 48px auto 0 auto;
        @include var.breakpoint(tablet) {
            width: 78%;
            max-width: 1150px;
            margin-top: 72px;
        }

        .works-item__container {
            width: 100%;
            display: grid;
            gap: 100px 10%;
            @include var.breakpoint(tablet) {
                grid-template-columns: repeat( 2, 1fr);
            }
        }
    }
}