@charset "UTF-8";
@use "../foundation/variables" as var;


.l-footer {
    width: 100%;
    height: auto;
    background-image: url(../images/papertexture.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(20, 15, 52, 0.9);
    background-blend-mode: multiply;
}